name: Docker Image CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ci-cd:latest .

    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/ci-cd:latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          echo "Pulling latest image..."
          docker pull ${{ secrets.DOCKER_USERNAME }}/ci-cd:latest

          echo "Stopping old container if exists..."
          docker stop my-app || true
          docker rm my-app || true

          echo "Starting new container..."
          docker run -d --name my-app -p 80:3000 ${{ secrets.DOCKER_USERNAME }}/ci-cd:latest

          echo "Deployment complete."